<div th:fragment="aside">
  <aside id="sidebar" class="sidebar">
    <ul class="sidebar-nav" id="sidebar-nav">
      <!--Trang chủ -->
      <li class="nav-item">
        <a class="nav-link " th:href="@{/dashboard}">
          <i class="bi bi-terminal"></i>
          <span>Trang chủ</span>
        </a>
      </li>
      <!--Hàng hóa -->
      <li class="nav-item">
        <a class="nav-link collapsed"  data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-menu-button-wide"></i><span>Quản lý hàng hóa</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="components-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav" >
          <li>
            <a th:href="@{/merchandises}">
              <i class="bi-circle"></i><span>Danh sách</span>
            </a>
          </li>
<!--          <li>-->
<!--            <a th:href="@{/merchandises/create}">-->
<!--              <i class="bi bi-circle"></i><span>Thêm hàng hóa</span>-->
<!--            </a>-->
<!--          </li>-->
        </ul>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-people"></i><span>Quản lý nhân sự</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a th:href="@{/employees}">
              <i class="bi bi-circle"></i><span>Danh sách</span>
            </a>
          </li>
          <li th:if="${role == 'ADMIN'}">
            <a th:href="@{/employees/create}">
              <i class="bi bi-circle"></i><span>Thêm nhân sự</span>
            </a>
          </li>
        </ul>
      </li>

      <li class="nav-item" th:if="${role == 'ADMIN'}">
        <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-router"></i></i><span>Quản lý tuyến đường</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="tables-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a th:href="@{/routers}">
              <i class="bi bi-circle"></i><span>Danh sách</span>
            </a>
          </li>
          <li>
            <a th:href="@{/routers/create}">
              <i class="bi bi-circle"></i><span>Thêm tuyến đường</span>
            </a>
          </li>
        </ul>
      </li>

      <li class="nav-item" th:if="${role == 'ADMIN'}">
        <a class="nav-link collapsed" data-bs-target="#charts-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-person-gear"></i><span>Quản lý khách hàng</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="charts-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a th:href="@{/members}">
              <i class="bi bi-circle"></i><span>Danh sách</span>
            </a>
          </li>
          <li>
            <a th:href="@{/members/create}">
              <i class="bi bi-circle"></i><span>Thêm khách hàng</span>
            </a>
          </li>
        </ul>
      </li>
      <li class="nav-item" th:if="${role == 'ADMIN'}">
        <a class="nav-link collapsed" data-bs-target="#icons-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-database-gear"></i><span>Quản lý vận chuyển</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="icons-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a th:href="@{/batches}">
              <i class="bi bi-circle"></i><span>Lô hàng</span>
            </a>
          </li>
          <li>
            <a th:href="@{/batches/create}">
              <i class="bi bi-circle"></i><span>Tạo lô hàng</span>
            </a>
          </li>
          <li>
            <a th:href="@{/shipments}">
              <i class="bi bi-circle"></i><span>Chuyến đi</span>
            </a>
          </li>
          <li>
            <a th:href="@{/shipments/create}">
              <i class="bi bi-circle"></i><span>Tạo chuyến đi</span>
            </a>
          </li>
        </ul>
      </li>
      <li class="nav-item" th:if="${role == 'ADMIN'}">
        <a class="nav-link collapsed" data-bs-target="#icons-2-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-car-front"></i><span>Quản lý xe</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="icons-2-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav-2">
          <li>
            <a th:href="@{/cars}">
              <i class="bi bi-circle"></i><span>Danh sách xe</span>
            </a>
          </li>
          <li>
            <a th:href="@{/cars/create}">
              <i class="bi bi-circle"></i><span>Thêm xe</span>
            </a>
          </li>
          <li>
            <a th:href="@{/drivers}">
              <i class="bi bi-circle"></i><span>Tài xế</span>
            </a>
          </li>
          <li>
            <a th:href="@{/drivers/create}">
              <i class="bi bi-circle"></i><span>Thêm tài xế</span>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </aside>
</div>