<div th:fragment="aside">
  <aside id="sidebar" class="sidebar">
    <ul class="sidebar-nav" id="sidebar-nav">
      <!--Trang chủ -->
      <li class="nav-item">
        <a class="nav-link " th:href="@{/dashboard}">
          <i class="bi bi-terminal"></i>
          <span>Trang chủ</span>
        </a>
      </li>
      <!--Hàng hóa -->
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-menu-button-wide"></i><span>Quản lý hàng hóa</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="">
              <i class="bi-circle"></i><span>Danh sách hàng hóa</span>
            </a>
          </li>
          <li>
            <a href="">
              <i class="bi bi-circle"></i><span>Thêm hàng hóa</span>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </aside>
</div>