<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/app.html}">
<head>
    <title>Trang chủ</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
</head>
<body>
<header class="pagetitle" layout:fragment="custom-header">
    <h1 class="label">Hàng hóa được gởi về</h1>
</header>
<section layout:fragment="custom-content">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">
                <span>Danh sách chuyến</span>
            </h5>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th scope="col">Mã chuyến đi</th>
                    <th scope="col">Thông tin chuyến đi</th>
                    <th scope="col">Trọng lượng</th>
                    <th scope="col">Cửa hàng gửi</th>
                    <th scope="col">Trạng thái</th>
                    <th scope="col">Duyệt</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="item,index : ${shipments}">
                    <td th:text="${item.id}"></td>
                    <td th:text="'Tuyến đường : '+${item.router.name} + ', Tài xế : '+${item.driver.name}"></td>
                    <td th:text="${@formatUtil.formatWeight(item.totalWeight)}"></td>
                    <td th:text="${item.sendingStore.name}"></td>
                    <td >
                        <span class="badge bg-secondary" th:text="${item.status}"></span>
                    </td>
                    <td >
                        <a th:if="${item.status == 'IN_PROGRESS'} " th:href="@{'/shipments/'+${item.id}+'/receivingAccept'}" class="btn btn-sm btn-warning">Chấp nhập</i></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">
                <span>Danh sách vận chuyển thành công</span>
            </h5>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th scope="col">Mã chuyến đi</th>
                    <th scope="col">Trọng lượng</th>
                    <th scope="col">Cửa hàng gửi</th>
                    <th>Danh sách lô hàng</th>
                    <th scope="col">Trạng thái</th>
                    <th scope="col">Duyệt</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="item,index : ${shipmentsSuccess}">
                    <td th:text="${item.id}"></td>
                    <td th:text="${@formatUtil.formatWeight(item.totalWeight)}"></td>
                    <td th:text="${item.sendingStore.name}"></td>
                    <td>
                        <div th:each="batch : ${item.batches}">
                            <span th:text="${batch.id}"></span><br>
                        </div>
                    </td>
                    <td >
                        <span class="badge bg-success" th:text="${item.status}"></span>
                    </td>
                    <td >
                        <a th:if="${item.status == 'IN_PROGRESS'} " th:href="@{'/shipments/'+${item.id}+'/receivingAccept'}" class="btn btn-sm btn-warning">Chấp nhập</i></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
<div layout:fragment="custom-javascript">

</div>
</body>
</html>